name: Android CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v6
      with:
        submodules: true
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'jetbrains'
        java-version: '21'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleDebug lintVitalRelease
    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: app-debug.apk
        path: app/build/outputs/apk/debug/app-debug.apk
        retention-days: 90
